.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    background-color: var(--secondary);
    border-radius: 5px;
  }

  &__input {
    width: 20rem;
    padding: 0.5rem;
    color: var(--primary-dark);
    font-weight: 300;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
  }

  &__password {
    margin-top: 2rem;
  }

  &__error {
    margin-top: 1rem;
    color: var(--primary);
    font-weight: 500;
    font-size: 1.2rem;
  }

  //   .btn {
  //     width: 10rem;
  //   }
}
