.authentication {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem 3rem;
    background-color: var(--secondary);
    border-radius: 5px;
  }

  input {
    width: 20rem;
    margin-top: 2rem;
    padding: 0.5rem;
    font-weight: 300;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
  }

  .error {
    margin-top: 1rem;
    color: var(--primary);
    font-weight: 500;
    font-size: 1.2rem;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;

    a {
      font-weight: 300;
      font-size: 1.2rem;

      &:hover {
        color: var(--primary);
      }
    }

    .btn {
      margin-top: 0;
    }
  }
}
