.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &__img {
    width: 10rem;
  }

  &__text {
    margin-top: 0.8rem;
    color: var(--primary-dark);
    font-weight: 500;
    font-size: 1.2rem;
  }
}
