.profile {
  &__wrapper {
    display: flex;
    margin: 0;
    padding: 3rem;
    border-bottom: 1px solid var(--color-grey);
  }

  &__left {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
  }

  &__right {
    flex: 6;
  }

  &__img {
    width: 7.14rem;
    height: 7.14rem;
    margin: 0 auto 1rem;
    object-fit: cover;
    border-radius: 100%;
  }

  &__load-label {
    width: 8.2rem;
  }

  &__load {
    width: 0;
    height: 0;
    color: transparent;
  }

  &__load::-webkit-file-upload-button {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  &__name,
  &__email,
  &__password-label {
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
  }

  &__error {
    color: var(--primary);
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
  }

  .spinner {
    width: 7.14rem;
    height: 7.14rem;
  }
}

.achivements {
  padding: 3rem;

  &__time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 7.14rem;
  }

  &__desc {
    margin-top: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
  }
}

// dark mode
.app.dark {
  .profile {
    &__load::before {
      color: var(--primary-light);
    }

    &__load:hover::before {
      color: var(--primary);
    }

    &__load:disabled::before {
      color: var(--color-grey-dark);
    }
  }
}
