.navbar {
  position: fixed;
  z-index: 2;
  display: none;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  background-color: var(--primary-light);
  border-bottom: 1px solid var(--color-grey);

  &__hamburger {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 26px;
    height: 20px;
    background: none;
    border: none;
    transform: translateY(-50%);
    cursor: pointer;

    span {
      display: block;
      width: 100%;
      height: 2px;
      margin: 3px 0;
      background-color: var(--primary-dark);
      transition: 0.5s all;
    }
  }

  &__hamburger.active {
    height: 22px;

    span {
      margin-bottom: -5px;

      &:nth-child(1) {
        transform: translateY(-4px) rotate(-45deg);
      }

      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3) {
        transform: translateY(-4px) rotate(45deg);
      }
    }
  }
}

// dark mode
.app.dark {
  .navbar {
    background-color: var(--color-dark);

    &__hamburger {
      background-color: var(--color-dark);

      span {
        background-color: var(--primary-light);
      }
    }
  }
}
