@media (max-width: 1200px) {
  .app {
    .timer {
      &__btn {
        width: 2.8rem;
        height: 2.8rem;

        img {
          width: 1.3rem;
        }

        &-main {
          width: 3.5rem;
          height: 3.5rem;

          img {
            width: 2rem;
          }
        }
      }

      &__time {
        width: 18rem;
        height: 18rem;

        span {
          font-size: 4rem;
        }
      }
    }

    .settings-timer {
      &__value {
        font-size: 3rem;
      }

      &__slider {
        width: 25rem;
        height: 2.8rem;
      }

      &__slider::-webkit-slider-thumb {
        width: 2rem;
        height: 2rem;
      }

      &__slider::-moz-range-thumb {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

@media (max-width: 991px) {
  .app {
    .single-lesson {
      &__title {
        padding: 1rem 3rem;
        font-size: 1.5rem;
      }

      &__desc {
        padding: 1rem 3rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
      }
    }
  }
}

@media (max-width: 767px) {
  .app {
    .navbar {
      display: block;
    }

    .navbar .active {
      display: block;
    }

    .sidebar {
      display: none;
    }

    .sidebar.active {
      display: block;
      width: 100vw;
      height: 100vh;
      margin-top: 3rem;
      background-color: rgba($color: #000, $alpha: 50%);
    }

    main {
      margin-top: 3rem;
      margin-left: 0;
    }

    .btn {
      padding: 0.5rem 1.5rem;
      font-size: 1.1rem;
    }

    .authentication {
      input {
        font-size: 1.1rem;
      }

      .error {
        font-size: 1.1rem;
      }

      .wrapper {
        a {
          font-size: 1.1rem;
        }
      }
    }

    .profile {
      &__left {
        flex: 2;
      }

      &__right {
        flex: 3;
      }
    }

    .achivements {
      padding: 2rem;

      &__img {
        width: 5rem;
      }
    }

    .lessons {
      .lesson {
        width: 15rem;
        padding-bottom: 2rem;

        &__name {
          margin: 2rem auto 0;
        }
      }
    }

    .single-lesson {
      &__content {
        padding: 1rem 2rem;
      }

      &__title {
        padding: 1rem;
        font-size: 1.3rem;
      }

      &__desc {
        padding: 1rem;
        font-size: 1.1rem;
        line-height: 1.5rem;
      }
    }
  }
}

@media (max-width: 575px) {
  .app {
    .btn {
      padding: 0.3rem 1rem;
      font-size: 1rem;
    }

    .sidebar {
      &__top {
        display: none;
      }

      hr {
        border: none;
      }

      &__menu {
        ul {
          li {
            font-size: 1rem;

            img {
              height: 1.2rem;
            }

            .logout {
              font-size: 1rem;
            }
          }
        }
      }

      &__bottom {
        bottom: 5rem;

        .switch {
          span {
            width: 2.5rem;
            height: 1.3rem;
          }

          span::after {
            width: 1rem;
            height: 1rem;
          }

          input:checked + span::after {
            left: calc(100% - 0.17rem);
          }

          img {
            height: 1rem;
          }
        }
      }
    }

    .navbar {
      &__hamburger {
        left: 10px;
        width: 23px;
        height: 15px;
      }

      &__hamburger.active {
        height: 15px;
      }
    }

    .authentication {
      .form {
        padding: 0 1.5rem 2rem;
      }

      input {
        font-size: 1rem;
      }

      .error {
        font-size: 1rem;
      }

      .wrapper {
        a {
          font-size: 1rem;
        }
      }
    }

    .profile {
      &__left {
        flex: 1;
      }

      &__right {
        flex: 1;
      }

      &__name,
      &__email,
      &__password-label {
        font-size: 1rem;
      }
    }

    .achivements {
      &__desc {
        font-size: 1rem;
      }

      &__img {
        width: 4rem;
      }
    }

    .lessons {
      .lesson {
        width: 15rem;
        padding-bottom: 1.5rem;

        &__name {
          margin: 1.5rem auto 0;
          font-size: 1rem;
        }

        &__done {
          width: 1.5rem;
        }
      }
    }

    .single-lesson {
      &__title {
        font-size: 1rem;
      }

      &__content {
        padding: 1rem 1rem;
      }

      &__desc {
        font-size: 1rem;
        line-height: 1.3rem;
      }

      img {
        margin: 0 auto;

        max-width: 20rem;
        height: 100%;
      }
    }

    .settings-timer {
      &__value {
        font-size: 2.3rem;
      }

      &__slider {
        width: 20rem;
        height: 2rem;
      }

      &__slider::-webkit-slider-thumb {
        width: 1.5rem;
        height: 1.5rem;
      }

      &__slider::-moz-range-thumb {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .timer {
      &__time {
        width: 13rem;
        height: 13rem;

        span {
          font-size: 3rem;
        }
      }

      &__btn {
        width: 2rem;
        height: 2rem;

        &-main {
          width: 3rem;
          height: 3rem;
        }
      }
    }

    .modal {
      &__title {
        font-size: 1rem;
      }

      &__buttons {
        margin-top: 1.5rem;
      }

      &__close {
        width: 1.3rem;
        height: 1.3rem;
        margin-bottom: 1rem;
        font-size: 3rem;
        line-height: 1.3rem;
      }
    }
  }
}
