.page404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;

  &__text {
    margin-top: 3rem;
    color: var(--primary-dark);
    font-weight: 500;
    font-size: 2rem;
  }

  a {
    margin-top: 0.8rem;
    color: var(--primary);
    font-weight: 500;
    font-size: 1.2rem;
  }
}
