.single-lesson {
  position: relative;
  display: flex;
  min-height: 100vh;
  background-color: var(--secondary-dark);

  &__content {
    padding: 3rem 10rem;
  }

  &__title {
    padding: 1.5rem 5rem;
    color: var(--primary);
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    background: rgba($color: #fff, $alpha: 70%);
    border-radius: 10px;
  }

  &__desc {
    margin: 1rem auto;
    padding: 2rem 5rem;
    font-weight: 300;
    font-size: 1.3rem;
    line-height: 2rem;
    white-space: pre-line;
    background: rgba($color: #fff, $alpha: 50%);
    border-radius: 10px;
  }

  &__btns {
    display: flex;
    justify-content: center;

    .btn {
      margin: 1rem;
    }

    :disabled {
      background-color: var(--color-grey-dark);
    }
  }
}
